{% extends "base.html.twig" %}

{% block title 'Agence Inmogence' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence Inmogence</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsum nesciunt sapiente animi repudiandae ad fugit officia, consequuntur, doloribus perferendis ex reprehenderit cumque quo distinctio, voluptatem quibusdam? Eveniet, fuga unde?</p>
	</div>

	<div class="container">
		<h2>Les derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						{% if property.imagename %}
							<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" alt="card-img-top" style="width:100%; height:auto;">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<p class="card-text">{{ property.city }}
								({{ property.postalCode }})</p>
							<div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }}
								€</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
