{% extends "base.html.twig" %}

{% block title property.title %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{% if property.imagename %}
						<img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium')}}" alt="card-img-top" style="width:100%; height:auto;">
					{% else %}
						<img src="{{ "/images/properties/index.jpeg" | imagine_filter('medium')}}" alt="card-img-top" style="width:100%; height:auto;">
					{% endif %}
				</div>
				<div class="col-md-4">
					<h1>{{ property.title }}</h1>
					<h2>{{ property.rooms  }}
						pièces -
						{{ property.surface }}
						m²</h2>
					<div class="text-primary" style="font-size: 4rem; font-weight: bold;">{{ property.formattedPrice }}
						€</div>
					<a name="btn" id="btn" class="btn btn-primary" href="#" role="button">contacer l'agence</a>
					<div class="mt-4" id="contactForm">
						{{ form_start(form) }}
						<div class="row">
							<div class="col">{{ form_row(form.firstname) }}</div>
							<div class="col">{{ form_row(form.lastname) }}</div>
						</div>
						<div class="row">
							<div class="col">{{ form_row(form.phone) }}</div>
							<div class="col">{{ form_row(form.email) }}</div>
						</div>
						{{ form_rest(form) }}
						<div class="form-group">
							<button type="submit" class="btn btn-secondary">Envoyer</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4">
		<p>
			{{ property.description | nl2br }}
		</p>

		<div class="row">
			<div class="col-md-8">
				<h2>Caractéristiques</h2>
				<table class="table table-striped">
					<tr>
						<td scope="row">Surface habitable</td>
						<td>{{ property.surface }}
							m²</td>
					</tr>
					<tr>
						<td scope="row">Pièces</td>
						<td>{{ property.rooms }}</td>
					</tr>
					<tr>
						<td scope="row">Chambres</td>
						<td>{{ property.bedrooms }}</td>
					</tr>
					<tr>
						<td scope="row">Étage</td>
						<td>{{ property.floor }}</td>
					</tr>
					<tr>
						<td scope="row">Chauffage</td>
						<td>{{ property.heatType }}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<h2>Spécificites</h2>
				<ul class="list-group">
					{% for option in property.options %}
						<li class="list-group-item">{{ option.name }}</li>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
